Repository miyaoka/liver-streams: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,vue}"
      run: pnpm eslint --cache --fix {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{js,ts,vue,css,scss,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

import-x/order を lint:fix と hook 時のみ有効にする
  eslint.config.fix.ts
  eslint.config.ts
  lefthook.yml
  package.json
Due: eslint, prettier

eslint config の運用についてコメントを追加
  eslint.config.fix.ts
  eslint.config.ts
Due: eslint, prettier

let を const に修正
  src/components/menu/addedEvent/AddedEventButton.vue
Due: eslint, prettier

CI に lint を追加し、mise を使った環境セットアップに変更
  .github/actions/setup-environment/action.yml
  .github/workflows/test.yml
  AGENTS.md
  CLAUDE.md
  package.json
Due: prettier

ワークフローファイルを code_validation.yml にリネーム
  .github/workflows/code_validation.yml
Due: none

vite 7, vitest 4 にアップグレード
  package.json
  pnpm-lock.yaml
  tsconfig.vitest.json
Due: none

Tailwind CSS v4 にアップグレード
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/assets/main.css
  tailwind.config.js
  vite.config.ts
Due: eslint, prettier

eslint-plugin-tailwindcss を better-tailwindcss に切り替え
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

better-tailwindcss のパフォーマンス最適化と未使用アイコン削除
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

lint fix による Tailwind クラスの修正
  src/components/menu/FilteringButton.vue
  src/components/menu/FooterMenu.vue
  src/components/menu/HeaderMenu.vue
  src/components/menu/LiveFilterButton.vue
  src/components/menu/addedEvent/AddedEventButton.vue
  src/components/menu/addedEvent/AddedEventListItem.vue
  src/components/menu/addedEvent/AddedEventPopover.vue
  src/components/menu/bookmarkedEvent/BookmarkedEventButton.vue
  src/components/menu/bookmarkedEvent/BookmarkedEventPopover.vue
  src/components/menu/channelFilter/ChannelFilter.vue
  src/components/menu/channelFilter/ChannelNode.vue
  src/components/menu/keywordList/KeywordListButton.vue
  src/components/menu/keywordList/KeywordListPopoverItem.vue
  src/components/streams/LiverEventCard.vue
  src/components/streams/LiverEventDateSection.vue
  src/components/streams/LiverEventDateSectionList.vue
  src/components/streams/LiverEventTimeSection.vue
  src/components/streams/detail/LiverEventDetailListItem.vue
  src/components/streams/detail/LiverEventDetailPopover.vue
Due: eslint, prettier

Vue 関連パッケージと TypeScript を更新
  package.json
  pnpm-lock.yaml
  src/lib/scroll.test.ts
  src/lib/search.ts
  src/lib/section.test.ts
  src/lib/section.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint, prettier

依存パッケージを再インストールして minimumReleaseAge を適用
  package.json
  pnpm-lock.yaml
Due: none

env.d.ts を削除し tsconfig.app.json で vite/client 型を設定
  env.d.ts
  tsconfig.app.json
Due: eslint, prettier

tsconfig.vitest.json に vite/client 型を追加
  tsconfig.vitest.json
Due: none

Renovate 設定に :pinDependencies を追加
  renovate.json
Due: none

Vitest から bun test へ移行
  AGENTS.md
  CLAUDE.md
  bunfig.toml
  happydom.ts
  package.json
  pnpm-lock.yaml
  src/lib/scroll.test.ts
  src/lib/search.test.ts
  src/lib/section.test.ts
  src/lib/text.test.ts
  src/lib/youtube.test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.test.json
  tsconfig.vitest.json
  vitest.config.ts
Due: eslint, prettier

@types/node を 24.x にダウングレード
  package.json
  pnpm-lock.yaml
Due: none

packages/ui に bunfig.toml を追加
  packages/ui/bunfig.toml
Due: none

packages/ui/eslint.config.ts に tsconfigRootDir を追加
  lefthook.yml
  packages/ui/eslint.config.ts
Due: eslint, prettier

共通依存関係を pnpm catalog に統合
  package.json
  packages/core/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

packages/core, packages/ui に CLAUDE.md を追加
  packages/core/CLAUDE.md
  packages/ui/CLAUDE.md
Due: prettier

packages/service-* を services/ に移動し、src/ と data/ を分離
  CLAUDE.md
  docs/talent-data-update.md
  eslint.config.ts
  lefthook.yml
  packages/core/src/data/channel.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/service-nijisanji/src/sample3/livers.json
  packages/ui/package.json
  packages/ui/src/components/menu/channelFilter/ChannelFilter.vue
  packages/ui/src/services/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/hololive/CLAUDE.md
  services/hololive/data/channels.json
  services/hololive/data/dev/schedule.json
  services/hololive/data/icons.json
  services/hololive/eslint.config.fix.ts
  services/hololive/eslint.config.ts
  services/hololive/package.json
  services/hololive/src/api.ts
  services/hololive/src/icons.ts
  services/hololive/src/index.ts
  services/hololive/tsconfig.json
  services/nijisanji/CLAUDE.md
  services/nijisanji/data/channels.json
  services/nijisanji/data/dev/streams.json
  services/nijisanji/data/icons.json
  services/nijisanji/data/livers.json
  services/nijisanji/eslint.config.fix.ts
  services/nijisanji/eslint.config.ts
  services/nijisanji/package.json
  services/nijisanji/src/api.ts
  services/nijisanji/src/icons.ts
  services/nijisanji/src/index.ts
  services/nijisanji/tsconfig.json
  tsconfig.node.json
Due: eslint, prettier

import 順序を修正
  services/hololive/src/index.ts
  services/nijisanji/src/index.ts
Due: eslint, prettier

ESLint 共通ルールを eslint.base.ts に抽出
  eslint.base.ts
  eslint.config.ts
  packages/core/eslint.config.ts
  packages/ui/eslint.config.ts
  services/hololive/eslint.config.ts
  services/hololive/src/index.ts
  services/nijisanji/eslint.config.ts
  services/nijisanji/src/index.ts
Due: eslint, prettier

button 要素にデフォルトで cursor: pointer を設定
  packages/ui/src/assets/main.css
Due: prettier

Vite 8 Beta (Rolldown 搭載) にアップグレード
  packages/ui/package.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

Add MIT License to the project
  LICENSE
Due: none

README をプロジェクトに合わせて更新
  README.md
Due: prettier

Update README with new screenshot and features
  README.md
Due: prettier

Vite 8 アップグレード後の popover 不具合を修正
  packages/ui/src/components/streams/detail/LiverEventDetailListItem.vue
  packages/ui/src/components/streams/detail/LiverEventDetailPopover.vue
  packages/ui/src/composable/usePopover.ts
Due: eslint, prettier

アプリ起動時にローディングスピナーを表示
  packages/ui/src/components/common/LoadingSpinner.vue
  packages/ui/src/components/streams/LiverEventDateSectionList.vue
  packages/ui/src/store/eventListStore.ts
  packages/ui/src/views/LiverStreamsView.vue
Due: eslint, prettier

ライブ中バッジを0件時は非表示に
  packages/ui/src/components/menu/LiveFilterButton.vue
Due: eslint, prettier

prepare スクリプトで husky の設定を自動クリーンアップ
  package.json
Due: none

clip-path の arbitrary value から末尾セミコロンを除去
  packages/ui/src/components/streams/LiverEventTimeSection.vue
Due: eslint, prettier

import 文の並び順を ESLint ルールに従って整理
  packages/core/src/lib/liverEvent.ts
  packages/core/src/lib/search.ts
  packages/core/src/lib/section.test.ts
  packages/ui/src/components/menu/FooterMenu.vue
  packages/ui/src/components/menu/addedEvent/AddedEventListItem.vue
  packages/ui/src/components/menu/bookmarkedEvent/BookmarkedEventButton.vue
  packages/ui/src/components/menu/bookmarkedEvent/BookmarkedEventPopover.vue
  packages/ui/src/components/menu/channelFilter/ChannelNode.vue
  packages/ui/src/components/menu/keywordList/KeywordListPopover.vue
  packages/ui/src/components/streams/LiverEventCard.vue
  packages/ui/src/components/streams/LiverEventDateSection.vue
  packages/ui/src/components/streams/useLiverEvent.ts
  packages/ui/src/services/index.ts
  packages/ui/src/store/dateStore.ts
  packages/ui/src/store/focusStore.ts
  packages/ui/src/store/searchStore.ts
Due: eslint, prettier

tsconfig の paths エイリアスを削除し相対パスに変換
  packages/ui/src/components/menu/FilteringButton.vue
  packages/ui/src/components/menu/FooterMenu.vue
  packages/ui/src/components/menu/LiveFilterButton.vue
  packages/ui/src/components/menu/MultiSelectButton.vue
  packages/ui/src/components/menu/ScrollButton.vue
  packages/ui/src/components/menu/SearchFilter.vue
  packages/ui/src/components/menu/addedEvent/AddedEventButton.vue
  packages/ui/src/components/menu/addedEvent/AddedEventListItem.vue
  packages/ui/src/components/menu/addedEvent/AddedEventPopover.vue
  packages/ui/src/components/menu/bookmarkedEvent/BookmarkedEventButton.vue
  packages/ui/src/components/menu/bookmarkedEvent/BookmarkedEventPopover.vue
  packages/ui/src/components/menu/channelFilter/ChannelFilter.vue
  packages/ui/src/components/menu/channelFilter/ChannelNode.vue
  packages/ui/src/components/menu/keywordList/KeywordListButton.vue
  packages/ui/src/components/menu/keywordList/KeywordListPopover.vue
  packages/ui/src/components/menu/keywordList/KeywordListPopoverItem.vue
  packages/ui/src/components/streams/LiverEventCard.vue
  packages/ui/src/components/streams/LiverEventDateSection.vue
  packages/ui/src/components/streams/LiverEventDateSectionList.vue
  packages/ui/src/components/streams/LiverEventTimeSection.vue
  packages/ui/src/components/streams/detail/LiverEventDetailList.vue
  packages/ui/src/components/streams/detail/LiverEventDetailListItem.vue
  packages/ui/src/components/streams/detail/LiverEventDetailPopover.vue
  packages/ui/src/components/streams/useLiverEvent.ts
  packages/ui/src/router/index.ts
  packages/ui/src/store/eventListStore.ts
  packages/ui/src/views/LiverStreamsView.vue
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
Due: eslint, prettier

tsBuildInfoFile を node_modules/.tmp に配置
  packages/core/tsconfig.json
  services/hololive/tsconfig.json
  services/nijisanji/tsconfig.json
Due: none
