Repository miyaoka/liver-streams: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint-core, eslint-ui, eslint-services-hololive, eslint-services-nijisanji

prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

eslint-core:
  run: pnpm eslint --cache --fix -c eslint.config.fix.ts {staged_files}
  stage_fixed: true

eslint-ui:
  run: pnpm eslint --cache --fix -c eslint.config.fix.ts {staged_files}
  stage_fixed: true

eslint-services-hololive:
  run: pnpm eslint --cache --fix -c eslint.config.fix.ts {staged_files}
  stage_fixed: true

eslint-services-nijisanji:
  run: pnpm eslint --cache --fix -c eslint.config.fix.ts {staged_files}
  stage_fixed: true

Vite 8 + unplugin-dts で core/services のビルド環境を構築
  package.json
  packages/core/package.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/hololive/package.json
  services/hololive/vite.config.ts
  services/nijisanji/package.json
  services/nijisanji/vite.config.ts
Due: prettier, eslint-core, eslint-services-hololive, eslint-services-nijisanji

ui 以外のパッケージに prepare スクリプトを追加
  packages/core/package.json
  services/hololive/package.json
  services/nijisanji/package.json
Due: none

add vite-plugin-doc-block for Vue component documentation
  CLAUDE.md
  packages/ui/package.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint-ui

add doc blocks to all Vue components
  packages/ui/src/App.vue
  packages/ui/src/features/bookmark/BookmarkedEventButton.vue
  packages/ui/src/features/bookmark/BookmarkedEventPopover.vue
  packages/ui/src/features/channelFilter/ChannelFilter.vue
  packages/ui/src/features/channelFilter/ChannelNode.vue
  packages/ui/src/features/common/LoadingSpinner.vue
  packages/ui/src/features/keyword/KeywordListButton.vue
  packages/ui/src/features/keyword/KeywordListPopover.vue
  packages/ui/src/features/keyword/KeywordListPopoverItem.vue
  packages/ui/src/features/menu/FilteringButton.vue
  packages/ui/src/features/menu/FooterMenu.vue
  packages/ui/src/features/menu/HeaderMenu.vue
  packages/ui/src/features/menu/LiveFilterButton.vue
  packages/ui/src/features/menu/MultiSelectButton.vue
  packages/ui/src/features/menu/ScrollButton.vue
  packages/ui/src/features/newArrivals/NewArrivalsButton.vue
  packages/ui/src/features/newArrivals/NewArrivalsListItem.vue
  packages/ui/src/features/newArrivals/NewArrivalsPopover.vue
  packages/ui/src/features/search/SearchFilter.vue
  packages/ui/src/features/streams/LiverEventCard.vue
  packages/ui/src/features/streams/LiverEventDateSection.vue
  packages/ui/src/features/streams/LiverEventDateSectionList.vue
  packages/ui/src/features/streams/LiverEventTimeSection.vue
  packages/ui/src/features/streams/detail/LiverEventDetailList.vue
  packages/ui/src/features/streams/detail/LiverEventDetailListItem.vue
  packages/ui/src/features/streams/detail/LiverEventDetailPopover.vue
  packages/ui/src/views/LiverStreamsView.vue
Due: prettier, eslint-ui

Vue 以外のパッケージの typecheck を tsgo に変更
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/hololive/package.json
  services/nijisanji/package.json
Due: none

Vue 以外のパッケージの linter を oxlint に変更
  eslint.config.fix.ts
  eslint.config.ts
  lefthook.yml
  package.json
  packages/core/eslint.config.fix.ts
  packages/core/eslint.config.ts
  packages/core/package.json
  packages/ui/eslint.base.ts
  packages/ui/eslint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/hololive/eslint.config.fix.ts
  services/hololive/eslint.config.ts
  services/hololive/package.json
  services/nijisanji/eslint.config.fix.ts
  services/nijisanji/eslint.config.ts
  services/nijisanji/package.json
Due: prettier, eslint-core, eslint-ui, eslint-services-hololive, eslint-services-nijisanji

lint:fix を fix に統合し format も含める
  package.json
  packages/core/package.json
  packages/ui/package.json
  services/hololive/package.json
  services/nijisanji/package.json
Due: none

oxfmt スタイルに統一
  .github/actions/setup-environment/action.yml
  README.md
  docs/talent-processing-comparison.md
  packages/core/package.json
  pnpm-workspace.yaml
  services/hololive/data/channels.json
  services/hololive/package.json
  services/nijisanji/data/channels.json
  services/nijisanji/package.json
Due: prettier

type-aware lint 警告を修正
  scripts/update-nijisanji-talents.ts
  services/hololive/src/api.ts
Due: prettier, eslint-services-hololive

にじさんじタレント更新スクリプトを追加
  services/nijisanji/assets/icons/Idios.webp
  services/nijisanji/assets/icons/すぷれあ.webp
  services/nijisanji/assets/icons/城瀬いすみ.webp
  services/nijisanji/assets/icons/水面まどか.webp
  services/nijisanji/assets/icons/白砂あやね.webp
  services/nijisanji/assets/icons/皇れお.webp
  services/nijisanji/assets/icons/篠宮ゆの.webp
  services/nijisanji/assets/icons/花籠つばさ.webp
  services/nijisanji/assets/icons/鈴原るる.webp
  services/nijisanji/data/channels.json
  services/nijisanji/data/icons.json
  services/nijisanji/data/livers.json
  services/nijisanji/package.json
  services/nijisanji/scripts/update-talents.ts
Due: prettier, eslint-services-nijisanji

ホロライブタレント更新スクリプトを追加
  services/hololive/assets/icons/ホロカ公式.jpg
  services/hololive/data/channels.json
  services/hololive/data/icons.json
  services/hololive/package.json
  services/hololive/scripts/update-talents.ts
Due: prettier, eslint-services-hololive

CI動作確認用に2名（白砂あやね、水面まどか）を除外
  services/nijisanji/assets/icons/水面まどか.webp
  services/nijisanji/assets/icons/白砂あやね.webp
  services/nijisanji/data/channels.json
  services/nijisanji/data/icons.json
  services/nijisanji/data/livers.json
Due: none

旧scriptsディレクトリを削除
  scripts/download.sh
  scripts/holo.json
  scripts/niji.json
  scripts/update-nijisanji-talents.ts
Due: prettier

タレント自動更新のGitHub Actionsワークフローを追加
  .github/workflows/update-talents.yml
Due: none

古いタレント更新関連ドキュメントを削除
  docs/talent-data-update.md
  docs/todo.md
Due: prettier

タレント自動更新のドキュメントとスクリプトコメントを追加
  docs/talent-auto-update.md
  services/hololive/scripts/update-talents.ts
  services/nijisanji/scripts/update-talents.ts
Due: prettier, eslint-services-hololive, eslint-services-nijisanji

ドキュメントを整理しリネーム
  docs/README.md
  docs/api-data-flow.md
  docs/app-internal.md
  docs/external-api.md
  docs/talent-auto-update.md
  docs/talent-processing-comparison.md
Due: prettier

にじさんじ新タレント追加とvite起動時のブラウザオープン設定
  packages/ui/vite.config.ts
  services/nijisanji/assets/icons/今宵、××と夢を見る。.webp
  services/nijisanji/assets/icons/十河ののは.webp
  services/nijisanji/assets/icons/夜牛詩乃.webp
  services/nijisanji/assets/icons/猫屋敷美紅.webp
  services/nijisanji/assets/icons/蝸堂みかる.webp
  services/nijisanji/data/channels.json
  services/nijisanji/data/icons.json
  services/nijisanji/data/livers.json
Due: prettier, eslint-ui

Update image in README.md
  README.md
Due: prettier

アイコン取得をサービス単位で管理する設計に変更
  packages/core/src/types/index.ts
  packages/core/src/types/service.ts
  packages/core/vite.config.ts
  packages/ui/src/features/channelFilter/ChannelFilter.vue
  packages/ui/src/features/channelFilter/ChannelNode.vue
  packages/ui/src/features/streams/LiverEventCard.vue
  packages/ui/src/shared/services/index.ts
  services/hololive/src/icons.ts
  services/hololive/src/index.ts
  services/hololive/vite.config.ts
  services/nijisanji/src/icons.ts
  services/nijisanji/src/index.ts
  services/nijisanji/vite.config.ts
Due: prettier, eslint-core, eslint-ui, eslint-services-hololive, eslint-services-nijisanji

vite build --watch フラグがある時のみ watch モードを有効化
  packages/core/vite.config.ts
  services/hololive/vite.config.ts
  services/nijisanji/vite.config.ts
Due: prettier, eslint-core, eslint-services-hololive, eslint-services-nijisanji

@typescript/native-preview の auto-merge を有効化
  renovate.json
Due: none

vite-plugin-doc-block を @miyaoka/vite-plugin-doc-block に変更
  packages/ui/package.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint-ui

update-talents を update-channels にリネーム、peter-evans/create-pull-request を導入
  .github/workflows/update-channels.yml
  .github/workflows/update-talents.yml
  services/hololive/package.json
  services/hololive/scripts/update-channels.ts
  services/nijisanji/package.json
  services/nijisanji/scripts/update-channels.ts
Due: prettier, eslint-services-hololive, eslint-services-nijisanji

チャンネル情報を更新
  services/hololive/assets/icons/holoAN room.jpg
  services/hololive/data/channels.json
  services/hololive/data/icons.json
  services/nijisanji/assets/icons/水面まどか.webp
  services/nijisanji/assets/icons/白砂あやね.webp
  services/nijisanji/data/channels.json
  services/nijisanji/data/icons.json
  services/nijisanji/data/livers.json
Due: none

未分類グループを整理
  services/hololive/data/channels.json
  services/nijisanji/data/channels.json
Due: none

update-channels ワークフローに auto-merge を追加
  .github/workflows/update-channels.yml
Due: none

Google Fonts の読み込みを最適化
  packages/ui/index.html
Due: none

イベント取得をインクリメンタル表示に変更
  packages/ui/CLAUDE.md
  packages/ui/src/features/newArrivals/NewArrivalsButton.vue
  packages/ui/src/features/newArrivals/NewArrivalsPopover.vue
  packages/ui/src/features/streams/useLiverEvent.ts
  packages/ui/src/shared/services/index.ts
  packages/ui/src/store/eventListStore.ts
Due: prettier, eslint-ui

ルートの tsconfig を簡素化
  package.json
  tsconfig.json
  tsconfig.node.json
Due: none

Prettier を廃止して oxfmt に統一
  .oxfmtrc.json
  lefthook.yml
  packages/ui/eslint.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint-ui

lefthook、npm scripts、CI をテンプレートに合わせて更新
  .github/workflows/code_validation.yml
  .vscode/extensions.json
  apps/web/package.json
  lefthook.yml
  package.json
  packages/core/package.json
  packages/hololive/package.json
  packages/nijisanji/package.json
Due: none

チャンネル情報を更新
  packages/hololive/assets/icons/Elizabeth Sub.jpg
  packages/hololive/data/channels.json
  packages/hololive/data/icons.json
Due: none

update-channels で PAT を使用して code_validation を発火させる
  .github/workflows/update-channels.yml
Due: none

update-channels ワークフローから reviewers を削除
  .github/workflows/update-channels.yml
Due: none

チャンネル情報を更新
  packages/hololive/assets/icons/癒月ちょこSub.jpg
  packages/hololive/data/channels.json
  packages/hololive/data/icons.json
Due: none

チャンネル情報を更新
  packages/hololive/assets/icons/ホロアース.jpg
  packages/hololive/data/channels.json
  packages/hololive/data/icons.json
Due: none

Path conditions:
  prettier: any of: *.{ts,vue,css,scss,md}
  eslint-core: any of: *.ts and ^packages/core/
  eslint-ui: any of: *.{ts,vue} and ^packages/ui/
  eslint-services-hololive: any of: *.ts and ^services/hololive/
  eslint-services-nijisanji: any of: *.ts and ^services/nijisanji/
